Package: prime-settings
Version: 7.5
Maintainer: LinuxBuzz Software
Depends: unar, systemd, magma, inxi, lshw
Provides: magma
Architecture: amd64
Section: misc
Priority: optional
Description: PRIME is a technology used to manage hybrid graphics found on recent laptops (Optimus for NVIDIA, AMD Dynamic Switchable Graphics for Radeon).
 PRIME GPU offloading and Reverse PRIME is an attempt to support muxless hybrid graphics in the Linux kernel.
