[Unit]
Description=Check the current status of dGPU
Before=display-manager.service

[Service]
ExecStart=/opt/regataos-prime/scripts/check-use-dgpu

[Install]
WantedBy=graphical.target
