[Unit]
Description=Check the current status of dGPU
ConditionPathExists=/tmp/regataos-prime/use-hybrid-graphics.txt
Before=display-manager.service

[Service]
ExecStart=/usr/bin/regataos-check-use-dgpu

[Install]
WantedBy=graphical.target
