[Desktop Entry]
Name=Notifications for Prime Settings
GenericName=Notifications for Prime Settings
Comment=Notifications for Prime Settings
Exec=/opt/regataos-prime/notifications/run-notifications
Terminal=false
NoDisplay=true
Type=Application

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
