[Desktop Entry]
Exec=/usr/share/regataos/gpu/prime/user-hybrid-graphics
Type=Application
MimeType=
Terminal=false
GenericName=Check for hybrid graphics
Name=Check for hybrid graphics
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
NoDisplay=true
